@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Paytm.Models;
@using Nop.Web.Framework;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">

        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MerchantId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantId)
                @Html.ValidationMessageFor(model => model.MerchantId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MerchantKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.MerchantKey)
                @Html.ValidationMessageFor(model => model.MerchantKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Website):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.IndustryTypeId):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.IndustryTypeId)
                @Html.ValidationMessageFor(model => model.IndustryTypeId)
            </td>
        </tr>

        <tr>
            <td class="adminTitle">
                <div class="label-wrapper"><label class="control-label" for="IndustryTypeId" title="">Environment</label><div class="ico-help" title="Enter Industry Type Id."><i class="fa fa-question-circle"></i></div></div>
            </td>
            <td class="adminData">

                @Html.DropDownListFor(model => model.env, new List<SelectListItem>

            {
           new SelectListItem{Text="Staging",Value="Stage"},
               new SelectListItem{Text="Production",Value="Prod"}

           })
            </td>
        </tr>
      
        <tr>
            <td class="adminTitle" hidden="hidden">
                @Html.NopLabelFor(model => model.PaymentUrl):
            </td>
            <td class="adminData" hidden="hidden">
                @Html.EditorFor(model => model.PaymentUrl)
                @Html.ValidationMessageFor(model => model.PaymentUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle" hidden="hidden">
                @Html.NopLabelFor(model => model.CallBackUrl):
            </td>
            <td class="adminData" hidden="hidden">
                @Html.EditorFor(model => model.CallBackUrl)
                @Html.ValidationMessageFor(model => model.CallBackUrl)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="save" value="save" class="k-button">
                    Save
                </button>
            </td>
        </tr>
    </table>
    
}